{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <h1 class="text-center mb-4">Registrar Docente</h1>

            <!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong style='font-size: 14px;'>
        {{message}}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">}
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %} -->

            <form action="/agregar_docentes" method='POST'>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="n_control" placeholder="Numero de empleado">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="nombres" placeholder="Nombre(s)">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="apellido_p" placeholder="Apellido paterno">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="apellido_m" placeholder="Apellido materno">
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
                <button class="btn btn-primary btn-block" type="reset">
                    Limpiar
                </button>
            </form>
        </div>
    </div>

    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style='font-size: 14px;'>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->

    <div class="col-md-7">
        <div class="card card-body">
            <h1 class="text-center">Lista de Docentes</h1>
            <table class="table table-striped table-hover table-bordered table-sm bg-white">
                <thead>
                    <tr>
                        <td><b>No.Empleado</td></b>
                        <td><b>Nombres</td></b>
                        <td><b>Apellido paterno</td></b>
                        <td><b>Apellido materno</td></b>
                        <td><b>Acciones</td></b>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.id}}</td>
                        <td>{{ d.nombres}}</td>
                        <td>{{ d.apellido_p}}</td>
                        <td>{{ d.apellido_m}}</td>
                        <td>
                            <a class="btn btn-warning" href="/editar_docente/{{d.id}}">Editar</a>
                            <a class="btn btn-danger btn-delete" href="/eliminar_docente/{{d.id}}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}