{% extends 'body.html' %}
{% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h3 class="text-center mb-4">Actualización de datos</h3>
      <form action="/actualizar_ISE/{{ise.0}}" method='POST'>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group mb-2">
          <input type="text" class="form-control" readonly="readonly" name="id_ISE" placeholder="ID"  value="{{ise.0}}">
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="nivel_ISE" placeholder="Nombres" value="{{ise.1}}">
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="categoria_ISE" placeholder="Categoria" value="{{ise.2}}">
        </div>
        <div class="mt-3 d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}