{% extends 'body.html' %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/editar-cal.css')}}">
<body>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="editar">
      <h2 class="text-center mb-4">Editar Calificación</h2>
      <form action="/actualizar_cal/{{evaluacion.0}}'" name="id_cal" for="id_cal" method='POST'>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="se">
            <h5>No.Control Alumno</h5>
          <input type="text" name="id_alumno" readonly="readonly" title="No se puede editar" placeholder="Numero de control alumno" class="in"
            value="{{evaluacion.6}}" required>
        </div>
        <div class="form-group mb-2">
        <input hidden type="email" name="id_cal" readonly="readonly" placeholder="Numero de control alumno" class="in"
          value="{{evaluacion.0}}" required>
          <!--<output name="id_cal" id="id_cal" class="form" value="{{evaluacion.0}}"></output>
          <script>
            document.ready = document.getElementById("id_cal").value = "{{evaluacion.0}}" 
          </script>-->
      </div>
        <div class="seleccion">
            <h5>Parcial</h5>
            <select id="parc"class="in" for="parcial" name="parcial" required> 
                <option value="">Parcial</option>
                <option value="1">Primero</option>
                <option value="2">Segundo</option>
                <!--option value="3">Tercero</option-->
              </select>
              <script>
                document.ready = document.getElementById("parc").value = "{{evaluacion.1}}" 
              </script>
        </div>
        <div class="form-group mb-2">
            <h5>Calificación</h5>
          <input type="number" class="in" name="calificacion" placeholder="Calificacion"
            value="{{evaluacion.3}}" required>
        </div>
        <div class="seleccion">
          <h5>Tipo de Evaluación</h5>
        <select id="tipo_evaluacion" class="in" for="tipo_evaluacion" name="tipo_evaluacion" required>
            <!-- <option value="">Tipo de evaluacion</option> -->
            <option value="1" name="tipo_evaluacion">Curso normal</option>
            <option value="2" name="tipo_evaluacion">Segunda oportunidad</option>
            <option value="3" name="tipo_evaluacion">Recurse</option>
            <option value="4" name="tipo_evaluacion">Especial</option>
          </select> </div>
          <script>
            document.ready = document.getElementById("tipo_evaluacion").value = "{{evaluacion.4}}" 
          </script>
        <div class="se">
            <h5>Fecha de evaluacion</h5>
          <input type="text" class="in" readonly="readonly" name="apellido_m" title="No se puede editar" placeholder="Apellido meterno"
            value="{{evaluacion.2}}" required>
        </div>
        <div class="form-group mb-2">
        <input hidden type="text" class="in" readonly="readonly" title="No se puede editar" name="id_materia" placeholder="id_materia"
          value="{{evaluacion.5}}" required>
      </div>
        <!-- <div class="mt-3 d-grid gap-2"> -->
          <button class="btn1" type="submit">Actualizar</button>
          <button class="btn1" type="reset">Limpiar</button>
        <!-- </div> -->
      </form>
      <div class="regreso">
        <a class="btn" href="/evaluar/{{evaluacion.5}}/evaluar_alumno/{{evaluacion.6}}">REGRESAR</a></div>
    </div>
  </div>
</div>
</body>

{% endblock %}