{% extends 'body.html' %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/editar-docente.css')}}">
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="formulario">
      <h3 class="text-center mb-4">ACTUALIZACION DE DATOS-DOCENTE</h3>
      <form action="/actualizar_docente/{{docente.0}}" method='POST'>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <!--div class="form-group mb-2">
          <input type="text" name="n_control" readonly="readonly" placeholder="Numero de empleado" class="form-control"
            value="{{docente.0}}" required>
        </div-->
        <div class="form-group mb-2">
          <h6>NUMERO DE MATRICULA</h6>
          <input title="NUMERO DE MATRICULA" type="text" name="n_control" placeholder="NUMERO DE MATRICULA" class="in"
            value="{{docente.0}}" required>
        </div>
        <div class="form-group mb-2">
          <h6>NOMBRE(S)</h6>
          <input title="NOMBRE(S)" type="text" class="in" name="nombres" placeholder="NOMBRE(S)" value="{{docente.1}}" required>
        </div>
        <div class="form-group mb-2">
          <h6>APELLIDO PATERNO</h6>
          <input autocomplete="nope"  title="APELLIDO PATERNO" type="text" class="in" name="apellido_p" placeholder="APELLIDO PATERNO"
            value="{{docente.2}}" required>
        </div>
        <div class="form-group mb-2">
          <h6>APELLIDO MATERNO</h6>
          <input autocomplete="nope"  title="APELLIDO MATERNO" type="text" class="in" name="apellido_m" placeholder="APELLIDO MATERNO"
            value="{{docente.3}}" required>
        </div>
        <div class="mt-3 d-grid gap-2">
          <button type="submit" class="btn1">
            ACTUALIZAR
          </button>
        </div>
        <div1 class="inge"><p class="text-center mt-5">SISTEMA DE TRAYECTORIA ESCOLAR ISC</p></div1>
      </form>
      <div class="Regreso">
        <a class="btn" href="{{url_for('docentes')}}">REGRESAR</a> </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}