{% extends 'body.html' %}
{% block body %}

{% for a in data %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h3 class="text-center mb-4">Evaluar alumno</h3>
      <form action="/capturar_evaluacion" method='POST'>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group mb-2">
          <input type="text" name="n_control"  readonly="readonly" class="form-control" value="{{a.id}}">
        </div>
        <select class="form-control mb-2" for="parcial" name="parcial">
          <option value="0" >Parcial</option>
          <option value="1">Primero</option>
          <option value="2">Segundo</option>
          <option value="3">Tercero</option>
        </select>
        <!--<div class="form-group mb-2">
          input type="text" class="form-control" name="parcial" placeholder="Parcial"
          <label for="parcial">Parcial</label><br>
          <input type="radio" value="1" name="parcial">Primero<br>
          <input type="radio" value="2" name="parcial">Segundo<br>
          <input type="radio" value="3" name="parcial">Tercero<br>
        </div>--> 
        <div class="form-group mb-2">
          <input type="text" class="form-control" readonly="readonly" name="fecha" value="{{fecha}}">
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="calificacion" placeholder="Calificación">
        </div>
        <select class="form-control mb-2" for="tipo_evaluacion" name="tipo_evaluacion">
          <option value="0">Tipo de eval</option>
          <option value="1" name="tipo_evaluacion">Curso normal</option>
          <option value="2" name="tipo_evaluacion">Segunda oportunidad</option>
          <option value="3" name="tipo_evaluacion">Recurse</option>
          <option value="4" name="tipo_evaluacion">Especial</option>
        </select>
      <!--<div class="form-group mb-2">
          <label for="tipo_evaluacion">Tipo de evaluación</label><br>
          <input type="radio" value="1" name="tipo_evaluacion">Curso normal<br>
          <input type="radio" value="2" name="tipo_evaluacion">Segunda oportunidad<br>
          <input type="radio" value="3" name="tipo_evaluacion">Recurse<br>
          <input type="radio" value="4" name="tipo_evaluacion">Especial<br>
        </div>-->
        {% for m in materias %}
        <div class="form-group mb-2">
          <input type="text" class="form-control" readonly="readonly" name="materia" placeholder="Materia" value="{{m.nombre}}">
        </div>
        <div class="mt-3 d-grid gap-2">
          <button class="btn btn-primary btn-block">
            Calificar
        </button>
          <button class="btn btn-primary btn-block" type="reset">
            Limpiar
        </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}