{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <td>Materia</td>
      <td>Grupo</td>
    </tr>
  </thead>
  <tbody>
    
    {% for m in materias %}
    <tr>
      <td>{{ m.nombre }}</td>
      <td>{{ m.id_grupo }}</td>
    </tr>
    
  </tbody>
</table>

<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <td>Calificación Grupal</td>
    </tr>
  </thead>
  <tbody>
    
    {% for c in evaluacion %}
    <tr>
      <td>{{ c.calificacion }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Promedio por Alumno</h3>
<div style = "overflow: scroll; height: 250px;">
<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <td>Alumno</td>
      <td>N. Control</td>
      <td>Calificacion(Promedio)</td>
    </tr>
  </thead>
  <tbody>
    
    {% for calu in alumn %}
    <tr>
      <td>{{ calu.fecha }}</td>
      <td>{{ calu.id_alumno }}</td>
      <td>{{ calu.calificacion }}</td>
      
    </tr>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
</div>
<h3>Calificar Alumno</h3>
<div style = "overflow: scroll; height: 250px;">
<table class="table table-striped table-bordered bg-white table-sm" >
  <thead>
    <tr>
      <td>Alumno</td>
      <td>No.Control</td>
    </tr>
  </thead>
  <tbody>
    {% for a in data %}
    <tr>
      <td>{{ a.nombre_completo() }}</td>
      <td>{{ a.id }}</td>
      <td>{{ a.id_materia }}</td>
      
      <td><a class="btn btn-success" href="/evaluar/{{m.id}}/evaluar_alumno/{{a.id}}">Evaluar</a></td>
    </tr>
    
    {% endfor %}
    {% endfor %}
    
  </tbody>
  
</table>
</div>

{% endblock %}