{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<body>
<link rel="stylesheet" href="{{url_for('static', filename='css/evaluar.css')}}">
<body>
<div class="tablita">
<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <th>Materia</th>
      <th>Grupo</th>
    </tr>
  </thead>
  <tbody>
    
    {% for m in materias %}
    <tr>
      <td>{{ m.nombre }}</td>
      <td>{{ m.id_grupo }}</td>
    </tr>
    
  </tbody>
</table>

<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <th>Calificación Grupal</th>
    </tr>
  </thead>
  <tbody>
    
    {% for c in evaluacion %}
    <tr>
      <td>{{ c.calificacion }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="pro">
<h3>Promedio por Alumno</h3>
<div style = "overflow: scroll; height: 250px;">
<div class="tabla1">
<table class="table table-striped table-bordered bg-white table-sm">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>No.Control</th>
      <th>Calificación(Promedio)</th>
    </tr>
  </thead>
  <tbody>
    
    {% for calu in alumn %}
    <tr>
      <td>{{ calu.fecha }}</td>
      <td>{{ calu.id_alumno }}</td>
      <td>{{ calu.calificacion }}</td>
      
    </tr>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
<div class="calf">
<h3>Calificar Alumno</h3>
<div style = "overflow: scroll; height: 250px;">
<table class="table table-striped table-bordered bg-white table-sm" >
  <thead>
    <tr>
      <th>Alumno</th>
      <th>No.Control</th>
    </tr>
  </thead>
  <tbody>
    {% for a in data %}
    <tr>
      <td>{{ a.nombre_completo() }}</td>
      <td>{{ a.id }}</td>
      <td>{{ a.id_materia }}</td>
      <td><a class="btn btn-success" href="/evaluar/{{m.id}}/evaluar_alumno/{{a.id}}">Evaluar</a>
         <a class="btn btn-success" href="{{url_for('home')}}">Regresar</a></td>
    </tr>
    
    {% endfor %}
    {% endfor %}
    
  </tbody>
  
</table>
</div>
</div>
</body>
{% endblock %}