{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block container %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="lines-effect">
<h1>TRAYECTORIA ESCOLAR ISC</h1></div>
<div class="sub">
<h2>Bienvenido</h2></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br />
{% for message in messages %}
<div class="alerta">
<div class="alert alert-success alert-dismissible fade show p2" role="alert">
  <strong><h3>{{message}}</h3></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% endfor %}
{% endif %}

{% endwith %}
<div class="row mt-4">
  {% if current_user.tipo_usuario.id == 1 %}
  <div class="col-md-6">
    <h2 class="text-center">Lista de Alumnos</h2>
    <h3 class="text-center">Grupo: 3101</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>No.control</td></b>
          <td><b>Alumno</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos  %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        
    <h3 class="text-center">Grupo: 3102</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3111</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3201</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3202</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3211</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3301</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
      </tbody>
    </table>
        {% endfor %}
    <h3 class="text-center">Grupo: 3302</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3311</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3401</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3402</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3411</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      <h3 class="text-center">Grupo: 3501</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3502</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3511</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3601</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3602</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3611</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3701</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3702</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3711</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3801</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3802</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3811</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3901</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3902</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Grupo: 3911</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Alumno</td></b>
          <td><b>No.control</td></b>
          <td><b>Status</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
            <td><b>Alumno</td></b>
            <td><b>No.Control</td></b>
            <td><b>Genero</td></b>
            <td><b>Status</td></b>
            <td><b>Grupo</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.genero }}</td>
          <td>{{ a.status }}</td>
          <td>{{ a.grupo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </div>
  <div class="col-md-5">
    <h2 class="text-center">Lista de Materias</h2>
    <h3 class="text-center">Primer Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m in data[0]%}
        <tr>
          <td>{{ m.nombre }}</td>
          <td>{{ m.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="text-center">Segundo Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m2 in data[3] %}
        <tr>
          <td>{{ m2.nombre }}</td>
          <td>{{ m2.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Tercer Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m3 in data[6] %}
        <tr>
          <td>{{ m3.nombre }}</td>
          <td>{{ m3.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Cuarto Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m4 in data[9] %}
        <tr>
          <td>{{ m4.nombre }}</td>
          <td>{{ m4.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Quinto Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m5 in data[12] %}
        <tr>
          <td>{{ m5.nombre }}</td>
          <td>{{ m5.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Sexto Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m6 in data[15] %}
        <tr>
          <td>{{ m6.nombre }}</td>
          <td>{{ m6.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Séptimo Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m7 in data[18] %}
        <tr>
          <td>{{ m7.nombre }}</td>
          <td>{{ m7.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Octavo Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m8 in data[21] %}
        <tr>
          <td>{{ m8.nombre }}</td>
          <td>{{ m8.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class="text-center">Noveno Semestre</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>Nombre</td></b>
          <td><b>No.Creditos</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m9 in data[24] %}
        <tr>
          <td>{{ m9.nombre }}</td>
          <td>{{ m9.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    {% for i in materias%}
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Materia</h5>
          <div class="materia">
          <p class="mate">{{i.nombre}}</p></div>
          <div class="grupo">
          <p class="card-text">Grupo: {{i.id_grupo}}</p></div>
          <a href="/evaluar/{{i.id}}" class="btn">Evaluar</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}
</div>
</body>
{% endblock %}