{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block container %}
<h1>TRAYECTORIA ESCOLAR ISC</h1>
<h2>Bienvenido</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br />
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong style='font-size: 14px;'>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% endwith %}
<div class="row mt-4">
  <!-- <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
</div>
{% endblock %}