{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block container %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="lines-effect">
<h1>TRAYECTORIA ESCOLAR ISC</h1></div>
<div class="sub">
<h2>BIENVENIDO</h2></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br />
{% for message in messages %}
<div class="alerta">
<div class="alert alert-success alert-dismissible fade show p2" role="alert">
  <strong><h3>{{message}}</h3></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% endfor %}
{% endif %}

{% endwith %}
<div class="row mt-4">
  {% if current_user.tipo_usuario.id == 1 %}
  <div class="col-md-6">
    <h3 class="text-center">LISTA DE ALUMNOS</h3>
    <h5 class="text-center">GRUPO: 3101</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos  %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        
    <h5 class="text-center">GRUPO: 3102</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3111</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3201</H5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <H5 class="text-center">Grupo: 3202</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3211</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3301</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3302</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3311</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3401</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3402</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3411</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      <h5 class="text-center">GRUPO: 3501</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3502</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3511</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3601</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3602</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3611</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3701</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3702</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3711</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3801</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3802</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3811</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3901</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3902</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">GRUPO: 3911</h3>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>ALUMNO</td></b>
          <td><b>NO. DE CONTROL</td></b>
          <td><b>STATUS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
            <td><b>Alumno</td></b>
            <td><b>No.Control</td></b>
            <td><b>Genero</td></b>
            <td><b>Status</td></b>
            <td><b>Grupo</td></b>
        </tr>
      </thead>
      <tbody>
        {% for a in alumnos %}
        <tr>
          <td>{{ a.nombre_completo() }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.genero }}</td>
          <td>{{ a.status }}</td>
          <td>{{ a.grupo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </div>
  <div class="col-md-5">
    <h3 class="text-center">LISTA DE MATERIAS</h3>
    <h5 class="text-center">PRIMER SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m in data[0]%}
        <tr>
          <td>{{ m.nombre }}</td>
          <td>{{ m.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h5 class="text-center">SEGUNDO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m2 in data[3] %}
        <tr>
          <td>{{ m2.nombre }}</td>
          <td>{{ m2.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">TERCER SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m3 in data[6] %}
        <tr>
          <td>{{ m3.nombre }}</td>
          <td>{{ m3.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">CUARTO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m4 in data[9] %}
        <tr>
          <td>{{ m4.nombre }}</td>
          <td>{{ m4.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">QUINTO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m5 in data[12] %}
        <tr>
          <td>{{ m5.nombre }}</td>
          <td>{{ m5.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">SEXTO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m6 in data[15] %}
        <tr>
          <td>{{ m6.nombre }}</td>
          <td>{{ m6.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">SEPTIMO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m7 in data[18] %}
        <tr>
          <td>{{ m7.nombre }}</td>
          <td>{{ m7.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">OCTAVO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m8 in data[21] %}
        <tr>
          <td>{{ m8.nombre }}</td>
          <td>{{ m8.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5 class="text-center">NOVENO SEMESTRE</h5>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td><b>NOMBRE</td></b>
          <td><b>NO. DE CREDITOS</td></b>
        </tr>
      </thead>
      <tbody>
        {% for m9 in data[24] %}
        <tr>
          <td>{{ m9.nombre }}</td>
          <td>{{ m9.n_creditos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    {% for i in materias%}
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MATERIA</h5>
          <div class="materia">
          <p class="mate">{{i.nombre}}</p></div>
          <div class="grupo">
          <p class="card-text">GRUPO: {{i.id_grupo}}</p></div>
          <a href="/evaluar/{{i.id}}" class="btn">EVALUAR</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}
</div>
</body>
{% endblock %}