{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lista-cal.css')}}">
<div class="row">
  <div class="col-md-12">
    <div class="lista-cal">
      <h1 class="text-center">Lista de Calificaciones</h1>
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th><b>Nombre</b></th>
            <th><b>Num. Control</th></b>
            <th><b>Parcial 1</th></b>  
            <th><b>Parcial 2</th></b>  
            <!--td><b>Parcial 3</td></b!-->
            <th><b>Promedio</th></b>  
               
          </tr>
        </thead>
        <tbody>
          {% for cma in cmal %}
          <tr>
            <td>{{ cma.id}}</td>
            <td>{{ cma.id_alumno }}</td>
            <td>{{ cma.parcial }}</td>
            <td>{{ cma.fecha}}</td>
            <!--td>{{ cma.calificacion }}</td!-->  
            <td>{{ cma.id_materia }}</td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
  <div class="imprimir">
    <!--a class="btn" href="{{url_for('grupos')}}">Regresar</a-->
    <a class="btn" href="">Imprimir</a> 
    <a class="btn" href="">Regresar</a> </div>
{% endblock %}|