{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lista-alum.css')}}">
<div class="row">
  <div class="col-md-12">
    <div class="lista-alum">
      <h1 class="text-center">LISTA DE ALUMNOS</h1>
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th><b>NO. DE CONTROL</th></b>
            <th><b>NOMBRE</th></b>
            <th><b>STATUS</th></b>
            <th><b>ACCIONES</th></b>
          </tr>
        </thead>
        <tbody>
          {% for ag in data %}
          <tr>
            <td>{{ ag.id }}</td>
            <td>{{ ag.nombres }}</td>
            <td>{{ ag.status }}</td>
            <td><a class="btn btn-warning" href="/editar_alumno/{{ag.id}}">EDITAR</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% for g in data %}
      <div class="Regreso">
        <a class="btn" href="/materia/{{g.id}}">REGRESAR</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}