{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <h1 class="text-center">Lista de Calificaciones</h1>
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <td><b>Nombre</b></td>
            <td><b>Num. Control</td></b>
            <td><b>Parcial 1</td></b>  
            <td><b>Parcial 2</td></b>  
            <!--td><b>Parcial 3</td></b!-->
            <td><b>Promedio</td></b>     
          </tr>
        </thead>
        <tbody>
          {% for cma in cmal %}
          <tr>
            <td>{{ cma.id}}</td>
            <td>{{ cma.id_alumno }}</td>
            <td>{{ cma.parcial }}</td>
            <td>{{ cma.fecha}}</td>
            <!--td>{{ cma.calificacion }}</td!-->  
            <td>{{ cma.id_materia }}</td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
{% endblock %}|