{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lista-alum.css')}}">
<div class="row">
  <div class="col-md-12">
    <div class="lista-alum">
      <h1 class="text-center">Lista de Alumnos</h1>
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th><b>Numero de Control</th></b>
            <th><b>Nombre</th></b>
            <th><b>Status</th></b>
            <th><b>Acciones</th></b>
          </tr>
        </thead>
        <tbody>
          {% for ag in data %}
          <tr>
            <td>{{ ag.id }}</td>
            <td>{{ ag.nombres }}</td>
            <td>{{ ag.status }}</td>

            <td><a class="btn btn-warning" href="/editar_alumno/{{ag.id}}">Editar</a></td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
      {% for g in data %}
      <div class="Regreso">
        <a class="btn" href="/materia/{{g.id}}">Regresar</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}