
{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <h1 class="text-center mb-4">Registrar Materia</h1>

            <!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong style='font-size: 14px;'>
        {{message}}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">}
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %} -->

            <form action="/agregar_materia" method='POST'>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-group mb-2">
                    <input class="form-control" type="number" name="id" placeholder="id_materia">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="n_creditos" placeholder="Numero de creditos">
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="number" name="id_grupo" placeholder="Grupo">
                    <!--label for="grupo">Grupo: </label>
                    <select  id="grupo">
                        <option value="{{id.grupo}}">3101</option>
                        <option value="3201">3201</option>
                        <option value="3111">3111</option>
                        <option value="3201">3201</option>
                        <option value="3202">3202</option>
                        <option value="3211">3211</option>
                        <option value="3301">3301</option>
                        <option value="3302">3302</option>
                        <option value="3311">3311</option>
                        <option value="3401">3401</option>
                        <option value="3402">3402</option>
                        <option value="3411">3411</option>
                        <option value="3501">3501</option>
                        <option value="3502">3502</option>
                        <option value="3511">3511</option>
                        <option value="3601">3601</option>
                        <option value="3602">3602</option>
                        <option value="3611">3611</option>
                        <option value="3701">3701</option>
                        <option value="3702">3702</option>
                        <option value="3711">3711</option>
                        <option value="3801">3801</option>
                        <option value="3802">3802</option>
                        <option value="3811">3811</option>
                    </select-->
                </div>
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="id_docente" placeholder="Docente">
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
                <button class="btn btn-primary btn-block" type="reset">
                    Borrar
                </button>
            </form>
        </div>
    </div>

    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style='font-size: 14px;'>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->

    <div class="col-md-7">
        <div class="card card-body">
            <h1 class="text-center">Lista de materias</h1>
            <table class="table table-striped table-hover table-bordered table-sm bg-white">
                <thead>
                    <tr>
                        <!--td><b>ID</td></b-->
                        <td><b>Nombre</td></b>
                        <td><b>Creditos</b>
                        <td><b>Grupo</td></b>
                        <td><b>Docente</td></b>
                        <td><b>Acciones</td></b>
                    </tr>
                </thead>
                <tbody>
                    {% for m in data %}
                    <tr>
                        <td>{{ m.id}}</td> 
                        <td>{{ m.nombre}}</td>
                        <td>{{ m.n_creditos}}</td>
                        <td>{{ m.id_grupo}}</td>
                        <td>{{ m.id_docente}}</td>
                        <td>
                            <a class="btn btn-warning" href="/editar_materia/{{m.id}}">Editar</a>
                            <a class="btn btn-danger btn-delete" href="/eliminar_materia/{{m.id}}">Eliminar</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}