{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/materias.css')}}">
<body>
<h1 class="text-center mb-5">MATERIAS</h1>
<div class="row">
  {% for m in data%}
  <!--div class="list-group col-sm-12 col-md-4 mb-4"-->
  <div class="listado">
    <!-- <a href="">{{m.nombre}}</a> -->
    <a href="/lista/{{m.id_grupo}}" class="in" aria-current="true">
      <div class="lista">
        <h5 class="mb-1">{{m.nombre}}</h5>
        <!-- <small>Docente: </small> -->
      </div>
      <p class="mb-1">DOCENTE: {{m.id_docente}} </p>
      <!-- <small>And some small print.</small> -->
    </a>
  </div>
  {% endfor %}
</div>
<div class="Regreso">
  <a class="btn" href="{{url_for('grupos')}}">REGRESAR</a> </div>
</div>
</body>
{% endblock %}