<link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">>
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}">Trayectoria Escolar</a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <link rel="shortcut icon" type="image/png" href="ordenador-portatil.png">
        <title>Ingenieria en Sistemas Computacionales</title>
        <!--link rel="shortcut icon" href="/img/ordenador-portatil.png"-->
        {% if current_user.tipo_usuario.id == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('usuario')}}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('grupos')}}">Grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('agregar_alumno')}}">Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('docentes')}}">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('materias')}}">Materia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('indices')}}">Índices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('calificaciones')}}">Calificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('periodos')}}">Periodos</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{ current_user.usuario }}</strong>({{current_user.tipo_usuario.usuario }})
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Cerrar Sesión</a></li>
          </ul>
        </li>
        <div class="ing">
        <a class="navbar-brand" style="float:right;">Ingenieria en Sistemas Computacionales</a></div>
      </ul>
    </div>
  </div>
</nav>