{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="card card-body">
      <h1 class="text-center mb-4">Registrar Usuarios</h1>
      <form action="/agregar_usuario" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group mb-2">
          <input type="number" class="form-control" name="usuario"  placeholder="Numero de empleado" required>
        </div>
        <div class="tuInput">
          <input type="text" class="form-control" name="nombres" placeholder="Nombres" required>
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="apellido_p" placeholder="Apellido paterno" required>
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="apellido_m" placeholder="Apellido meterno" required>
        </div>
        <div class="form-group mb-2">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>
        <select class="form-control mb-2" for="tipo_usuario" name="tipo_usuario" required>
          <option value="">Tipo Usuario</option>
          <option value="1">Administrador</option>
          <option value="2">Docente</option>
        </select>
      <!-- <div class="form-group mb-2">
          <label for="tipo_usuario">Tipo de usuario</label><br>
          <input type="radio" value="1" name="tipo_usuario">Administrador<br>
          <input type="radio" value="2" name="tipo_usuario">Docente<br>
        </div>--> 
        <button class="btn btn-primary btn-block">
          Guardar
        </button>
        <button class="btn btn-primary btn-block" type="reset">
          Limpiar
      </button>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-body">
      <h1 class="text-center">Lista de Usuarios</h1>
      <div style = "overflow: scroll; height: 500px; ">
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <td><b>Usuario</td></b>
            <td><b>Nombre</td></b>
            <td><b>Apellido Paterno</td></b>
            <td><b>Apellido Materno</td></b>
            <td><b>Tipo de usuario</td></b>
            <td><b>Acciones</td></b>
          </tr>
        </thead>
        <tbody>
          {% for u in data %}
          <tr>
            <td>{{ u.usuario }}</td>
            <td>{{ u.nombres }}</td>
            <td>{{ u.apellido_p }}</td>
            <td>{{ u.apellido_m }}</td>
            <td>{{ u.tipo_usuario }}</td>
            <td>
              <a class="btn btn-warning" href="/editar_usuario/{{u.usuario}}">Editar</a>
              <a class="btn btn-danger btn-delete" href="/eliminar_usuario/{{u.usuario}}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}