{% extends 'body.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/usuarios.css')}}">
<body>
<div class="row">
  <div class="col-md-4">
    <title>INGENIERIA EN SISTEMAS COMPUTACIONALES</title>
    <div class="Registro">
      <h1 class="text-center mb-4">Registrar Usuarios</h1>
      <form action="/agregar_usuario" method="POST" autocomplete="nope">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group mb-2">
          <input title="Campo Obligatorio" type="number" style="text-align: center;" class="in" name="usuario"  placeholder=" Número de Matrícula" required>
        </div>
        <!--div class="tuInput"-->
        <div class="form-group mb-2">
          <input title="Campo Obligatorio" type="text" class="tranformacion1" name="nombres" placeholder="Nombre(s)" required>
        </div>
        <div class="form-group mb-2">
          <input autocomplete="nope" title="Campo Obligatorio" type="text" class="in" name="apellido_p" placeholder="Apellido Paterno" required>
        </div>
        <div class="form-group mb-2">
          <input autocomplete="nope" title="Campo Obligatorio" type="text" class="in" name="apellido_m" placeholder="Apellido Materno" required>
        </div>
        <div class="form-group mb-2">
          <input title="Campo Obligatorio" type="password" class="in" name="password" placeholder="Contraseña" required>
        </div>
        <div class="seleccion">
        <select class="in" for="tipo_usuario" name="tipo_usuario" required>
          <option value="">Tipo Usuario</option>
          <option value="1">Administrador</option>
          <option value="2">Docente</option>
        </select> </div>
       <!--div class="form-group mb-2">
          <label for="tipo_usuario">Tipo de usuario</label><br>
          <input type="radio" value="1" name="tipo_usuario">Administrador<br>
          <input type="radio" value="2" name="tipo_usuario">Docente<br>
        </div-->
        <button class="btn1">
          Guardar
        </button>
        <button class="btn2" type="reset">
          Limpiar
        </button>
        <div1 class="inge"><p class="text-center mt-5">Sistema de Trayectoria Escolar ISC</p></div1>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <div class="tabla">
      <h1 class="text-center">Lista de Usuarios</h1>
      <div style = "overflow: scroll; height: 500px; ">
      <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th><b>Usuario</th></b>
            <th><b>Nombre</th></b>
            <th><b>Apellido Paterno</th></b>
            <th><b>Apellido Materno</th></b>
            <th><b>Tipo de Usuario</th></b>
            <th><b>Acciones</th></b>
          </tr>
        </thead>
        <tbody>
          {% for u in data %}
          <tr>
            <td>{{ u.usuario }}</td>
            <td>{{ u.nombres }}</td>
            <td>{{ u.apellido_p }}</td>
            <td>{{ u.apellido_m }}</td>
            <td>{{ u.tipo_usuario }}</td>
            <td>
              <a class="btn btn-warning" href="/editar_usuario/{{u.usuario}}">Editar</a>
              <a class="btn btn-danger btn-delete" href="/eliminar_usuario/{{u.usuario}}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}