body{
    background-image: url(logo-tesvg.jpg);
    background-size: 20%;
    background-position: 10% 10%;
    background-repeat: no-repeat;  
}
.editar{
    margin: auto;
    position: relative;
    top: 100px;
    right: 30px;
    border-style: solid;
    border-width: 3px;
    border-top-color: #588100;
    border-left-color: #588100;
    border-right-color: #b5b5b5;
    border-bottom-color: #b5b5b5;
    justify-content: center;
    height: 650px;
    width: 480px;
}
.editar h2{
    position: relative;
    top: 5px;
    border-bottom: 2px solid #B71C1C;
    padding: 10px;
}
.editar h5{
    text-align: center;
  }
.editar input{
    width: 70%;
    padding: 20px 20px 20px 20px;
    height: 35px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    left: 62px;
    text-transform: capitalize;
}
.se input{
    background-color: #c6da52;
}
.editar input:focus{
    border-color: #588100;
    border-width: 3px;
}
.seleccion select{
    position: relative;
    left: 62px;
    appearance: none;
    width: 70%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 5px;
}
.seleccion option{
    text-align: center;
}
.seleccion select:focus{
    border-color: #588100;
    border-width: 3px;
}
button{
    width: 50%;
    height: 35px;
    border: 1px solid;
    background: #588100;
    border-radius: 35px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 25%;
    margin: 2px;
    top: 20px;
  }
button:hover{
    border-color: black;
    transition: .5s;
}
.regreso a{
    width: 30%;
    height: 35px;
    border: 1px solid;
    background: #588100;
    border-radius: 35px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 110%;
    margin: 2px;
    top: 10px;
}
.regreso a:hover{
    border-color: black;
    color: white;
    transition: .5s;
  }