body{
    background-image: url(logo-tesvg.jpg), url(logo-tec.png);
    background-size: 20%, 12%;
    background-position: 10% 10%, 95% 12%;
    background-repeat: no-repeat;
  }
  strong{
    color: #588100;
  }

.row{
    position: relative;
    top: 200px;
}
.formulario{
    /* border: solid 2px black  ; */
    position: relative;
    top: 20px;
    right: 50px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-top-color: #588100;
    border-left-color: #588100;
    border-right-color: #b5b5b5;
    border-bottom-color: #b5b5b5;
    justify-content: center;
    width: 120%;
    height: 95%;
  }
  h3{
    position: relative;
    border-bottom: 3px solid black;
    padding: 7px;
    background-color: #588100;
    color: white
  }
.formulario input{
    text-align: center;
    width: 300px;
    height: 45px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;   
    position: relative;
    left: 100px;
    top: 10px;
    padding-bottom: 10px;
}
button{
  width: 40%;
  height: 35px;
  border: 1px solid;
  background: #588100;
  border-radius: 50px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 30%;
  margin: 2px;
  top: 50px;
}
button:hover{
  border-color: black;
  transition: .5s;
}
div1{
  font-family: cursive;
  position: relative;
  top: 30px;
}
.Regreso a{
  width: 40%;
  height: 40px;
  border: 1px solid;
  background: #588100;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  float: right;
  position: relative;
  top: -10px;
  left: 230px;
}
.Regreso a:hover{
  border-color: black;
  transition: .5s;
  color: white;
}
input:focus{
  border-color: #588100;
  border-width: 3px;
}