.formulario{
    border: solid 2px black  ;
    position: relative;
    top: 130px;
    width: 500px;
  }
h3{
    position: relative;
    border-bottom: 3px solid black;
    padding: 7px;
    background-color: rgba(26, 26, 248, 0.664);;
    color: aliceblue;
  }
.formulario input{
    width: 70%;
    padding: 20px 20px 20px 20px;
    height: 35px;
    font-size: 18px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
  }
.seleccion select {
    width: 70%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin: 0 auto;
  }
.seleccion option{
    text-align: center;
}
button{
    width: 40%;
    height: 35px;
    border: 1px solid;
    background: rgba(26, 26, 248, 0.664);
    border-radius: 50px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 30%;
    margin: 2px;
    top: 15px;
  }
button:hover{
    border-color: black;
    transition: .5s;
  }
div1{
    font-family: cursive;
    position: relative;
    top: 15px;
}
button2{
  width: 50%;
  height: 35px;
  border: 1px solid;
  background: rgba(26, 26, 248, 0.664);
  border-radius: 50px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 25%;
  margin: 2px;
  top: 35px;
}
.Regreso a{
  width: 40%;
  height: 35px;
  border: 1px solid;
  background: rgba(26, 26, 248, 0.664);
  color: white;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  float: right;
  position: relative;
  top: 20px;
}
.Regreso a:hover{
  border-color: black;
  transition: .5s;
}