/* body{
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
    url(logo-tesvg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
} */
.mate a{
    float: right;
    background: #588100;;
    color: white;
    width: 40%;
    height: 35px;
    border: 1px solid;
    border-radius: 35px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.mate a:hover{
    border-color: black;
    transition: .5s;
  }
.mate a{
    text-decoration: none;
}
.card-body h3{
    text-align: center;
}
.card-body h2{
    font-size: 25px;
}