.mate a{
    float: right;
    background: #588100;;
    color: white;
    width: 50%;
    height: 35px;
    border: 1px solid;
    border-radius: 35px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.mate a:hover{
    border-color: black;
    transition: .5s;
  }
.mate a{
    text-decoration: none;
}