body{
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url(logo-tesvg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    opacity: 1;
    z-index: -1;
}
strong{
    font-size: 16px;
    color: #588100;
}
h1{
    text-align: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 1000;
    margin-top: 50px;
}
h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 125px;
    transform: scale(0);
    transition: all 0.2s ease-in;
}
h1:hover::before, h1:hover::after{
    transform: scale(1);
}
h1::before{
    left: 350px;
}
h1::after{
    right: 350px;
}
.sub h2{
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 35px;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 25px;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}
.row mt-4 h3{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col-md-5 h1{
    padding: 10px;
    position: relative;
    left: 120px;
}
.col-md-5 h2{
    padding: 10px;
    position: relative;
    left: 100px;
}
.col-md-5 h3{
    padding: 10px;
    position: relative;
    left: 100px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
.col-md-5 h5{
    padding: 10px;
    position: relative;
    left: 150px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col-md-5 table{
    position: relative;
    left: 150px;
}
.table td {
    text-align: center;
}
.col-md-6 h1{
    padding: 10px;
}
.card-body a{
    float: right;
    background: #588100;
    color: white;
    width: 40%;
    height: 40px;
    border: 1px solid;
    border-radius: 35px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.card-body a:hover{
    background: white;
    color: #588100;
    border-color: #588100;
    transition: .5s;
}
.card-body h5{
    text-align: center;
    font-size: 25px;
}
.materia p{
    font-size: 20px;
    position: relative;
    top: 10px;
}
.grupo p{
    position: relative;
    top: 10px;
} 
.row{
    margin-left: 50px;
}
.alerta{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: -65px;
    left: 35px;
    width: 100%;  
}


/*                                               Diseño de Tablas                                     */
 
thead{
    font-size: 14px;
}