body{
  background-image: url(logo-tesvg.jpg), url(logo-tec.png);
  background-size: 18%, 11%;
  background-position: 5% 10%, 95% 12%;
  background-repeat: no-repeat;
}
strong{
  color: #588100;
}
/* .row{
 white-space: ;
} */
h1{
  position: relative;
  top: 150px;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-top: 90px;
}
.listado{
  position: relative;
  top: 180px;
  width: 45%;
  height: 90px;
  border-radius: 100px;
  background-color: #588100;
  margin-bottom: 1rem;
  margin-right: 4rem;
}
.listado:hover{
  background-color: #89d631;
}
.listado a{
 color: white;
 text-decoration: none;
}
.lista h5{
  text-align: center;
  padding: 5px;
  font-size: 25px;
}
.listado p{
  font-size: 18px;
  position: relative;
  left: 20px;
}
.Regreso a{
  width: 12%;
  height: 40px;
  border: 1px solid;
  background: #588100;;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  float: right;
  position: relative;
  top: 200px;
  text-decoration: none;
}
.Regreso a:hover{
  border-color: black;
  color: white;
  transition: .5s;
}

