/*                                       DISEÑO DE FORMULARIO                                 */
body{
  background-image: url(logo-tesvg.jpg);
  background-size: 15%;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  
}
strong{
  color: #588100;
}
.col-md-4{
  /* border: dashed 2.7px black  ; */
  margin: auto;
  position: relative;
  top: 190px;
  right: 130px;
  border-style: solid;
  border-width: 3px;
  border-top-color: #588100;
  border-left-color: #588100;
  border-right-color: #b5b5b5;
  border-bottom-color: #b5b5b5;
  justify-content: center;
}
button{
    width: 49%;
    height: 35px;
    border: 1px solid;
    background: #588100;
    border-radius: 35px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 25%;
    margin: 2px;
    top: 20px;
  }
button:hover{
    border-color: black;
    transition: .5s;
  }
.Registro h1{
  position: relative;
  top: 5px;
  border-bottom: 2px solid #B71C1C;
  padding: 10px;
  font-size: 35px;
}
.Registro input[type="text"]{
    width: 70%;
    padding: 20px 20px 20px 20px;
    height: 50px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
  }
.Registro input[type="number"]{
    width: 70%;
    padding: 20px 20px 20px 20px;
    height: 50px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
  }
.Registro input[type="password"]{
    width: 70%;
    padding: 20px 20px 20px 20px;
    height: 50px;
    font-size: 16px;
    border: 1px solid;
    background: none;
    outline: none;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
  }
.Registro input::placeholder{
  text-align: center;
  line-height: 100px;
  font-size: 13px;
}
.Registro input[type="number"]{
  position: relative;
  left: 62px;
}
.Registro input[type="text"]{
  position: relative;
  left: 62px;
}
.seleccion select{
  position: relative;
  left: 62px;
  appearance: none;
}
.seleccion select:focus {
  border-color: #588100;
  border-width: 3px;
}
.Registro input[type="password"]{
  position: relative;
  left: 62px;
}
.Registro input:focus{
  border-color: #588100;
  border-width: 3px;
}
.Registro input:focus::placeholder{
  color: transparent;
}
.seleccion select {
  width: 70%;
  padding: 0 5px;
  height: 50px;
  font-size: 13px;
  border: 1px solid;
  background: none;
  outline: none;
  border-radius: 15px;
  margin: 0 auto;
}
.seleccion option{
  text-align: center;
}
div1{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
}

/*                                       DISEÑO DE TABLA                                 */
.col-md-8{
  position: relative;
  top: 70px;
  left: -30px;

}
.tabla{
  border: none ;
}
.tabla h1{
  border: black 1px solid ;
  background-color: #588100;
  color: white;
  padding: 7px;

}
tr:hover td{
  background-color: #588100;
  color: white;
}
thead{
  position: sticky;
  font-size: 15px;
}
tr td{
  text-transform: capitalize;
}
tr td .a{
  font-size: 5px;
}
